

$fg: orange;
$bg: lightcoral;

body {
  height: 100vh;;
  background-color: $bg;
  color: $fg;

    main {
        background-color:  aquamarine;
    }
}

.inverse {
  background: $fg;
  color: $bg;
}